{% extends 'base.html' %}

{% block title %}全体の作業履歴{% endblock %}

{% block content %}
<h1 class="titles">全体の作業履歴</h1>
{% for date, logs in grouped_logs.items %}
    <h2 style="text-align:center;">{{ date }}</h2>
    <table style="margin: 0 auto;"border="1">
        <thead>
            <tr>
                <th>従業員名</th>
                <th>工番</th>
                <th>件名</th>
                <th>作業コード</th>
                <th>作業時間</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr>
                <td>{{ log.employee.name }}</td>
                <td>{{ log.work_number }}</td>
                <td>{{ log.subject }}</td>
                <td>{{ log.get_work_code_display }}</td>
                <td>{{ log.work_hours }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endblock %}
