<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>作業伝票システム</title>
</head>
<body>
    <h1>作業伝票システムログイン</h1>
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div>
            <label for="id_username">ユーザー名:</label>
            <input type="text" name="username" id="id_username" value="" autocomplete="off">
        </div>
        <div style="margin-top: 10px;">
            <label for="id_password">パスワード:</label>
            <input type="password" name="password" id="id_password" autocomplete="off">
        </div>
        <div style="margin-top: 20px;">
            <button type="submit">ログイン</button>
        </div>
    </form>
</body>
</html>
