{% extends 'base.html' %}

{% block title %}全体の作業履歴{% endblock %}

{% block content %}

<br>
<div align="center">
    <div class="tabz">
    <span class="tab active" >個人履歴</span>
    <!--span class="tab" >全体履歴</span> -->
</div> </div>
<div id="tab1" class="tab_content active">
    <h1 class="titles">”{{user.first_name}} {{user.last_name}}”の作業履歴</h1>
    <div align="center">

        <div class="alert alert-info mt-3" style="text-decoration: underline; font-size: x-large;">
            <strong>{{ start_date|date:"m月 d日" }} から１週間分の作業合計:</strong>
            {{ total_hours }} 時間 {{ remining_minutes }} 分
        </div>
<br>
<form method="get" action="{% url 'sagyodenpyo:work_logs' %}">
            <label for="selected_date">表示開始日検索</label>
            <input type="date" id="selected_date" name="selected_date" value="{{ start_date }}">
            <button type="submit">検索</button>
</form>
期間内に存在する日数：<b>{{ cout_logs }}日</b>
<!--
{% if cout_logs < 0 %}
<div class="wlog_summary">
<h3 style="padding:0; margin:0;">作業履歴検索</h3>
<h3 style="padding:0; margin:0;">{{ cout_logs }}日</h3>
{% if cout_logs > 0 %}
<div align="left" class="wlog_summary-body">
{% for date, logs in grouped_logs.items %}
<a href="javascript:void(0);" class="wlog_bt" data-date="{{ date }}">{{ date }}</a><br>
{% endfor %}
</div>{% endif %}</div>{% endif %}><br-->
<div align="center">
    <a href="{% url 'sagyodenpyo:log_work' %}">新しい作業伝票を入力</a>
    <a href="{% url 'sagyodenpyo:export_work_logs_csv' %}">CSVをダウンロード</a>
</div>
<h2 style="padding:0; margin:0; ">{{ start_date|date:"m月 d日" }} から１週間分の履歴</h2>
<br>
    <div class="wlog_c">
        <!-- <h2 style="text-align:center;">{{ date }}</h2> -->
        <table style="margin: 0 auto;"border="1">
            <thead>
                <tr>
                    <th>作業日</th>
                    <th>工番</th>
                    <th>枝番</th>
                    <th>件名</th>
                    <th>作業コード</th>
                    <th>作業時間</th>
                    <th>分</th>
                    <th>修正</th>
                </tr>
            </thead>
            <tbody>
                <!-- {% for log in work_logs %} -->
                <tr>
                    <td>{{ log.date }}</td>
                    <td>{{ log.work_number }}</td>
                    <td>{{ log.work_trenum }}</td>
                    <td>{{ log.subject }}</td>
                    <td>{{ log.get_work_code_display }}</td>
                    <td>{{ log.work_hours }}</td>
                    <td>{{ log.work_minute }}</td>
                    <td><a href="{% url 'sagyodenpyo:edit_work_log' log.pk %}">修正</a></td>
                </tr>
                <!-- {% endfor %}  -->
            </tbody>
        </table>
    </div><br>
<br>
</div>
<div id="tab2" class="tab_content">
    <h1 class="titles">全体の作業履歴</h1>
<br>
<form method="get" action="{% url 'sagyodenpyo:work_logs' %}">
    <label for="selected_date">表示開始日</label>
    <input type="date" id="selected_date" name="selected_date" value="{{ start_date }}">
    <button type="submit">表示</button>
</form><br>
<div class="alert alert-info mt-3" style="text-decoration: underline; font-size: x-large;">
    <strong>{{ start_date|date:"m月 d日" }} から１週間分の作業合計:</strong>
    {{ total_hours }} 時間 {{ remining_minutes }} 分
</div><br>
    <div class="wlog_summary">
        <h3 style="margin:0;" >作業履歴が存在する日</h3>
        <p>期間内に存在する日数：<b>{{ cout_logs }}日</b>

        </p>
        <div align="left" class="wlog_summary-body">
        <!-- {% for date, logs in grouped_logs.items %} -->
        <a href="#{{ date }}" class="wlog_bt">{{ date }}</a><br>
        <!-- {% endfor %} -->
        </div>
    </div>
    <br><br>

    <!--{% for date, logs in grouped_logs_all.items %} -->
    <!--
    <div class="wlog_c">
        <h2 style="text-align:center;" id="{{ date }}">{{ date }}</h2>
        <table style="margin: 0 auto;"border="1">
            <thead>
                <tr>
                    <th>従業員名</th>
                    <th>作業日</th>
                    <th>工番</th>
                    <th>枝番</th>
                    <th>件名</th>
                    <th>作業コード</th>
                    <th>作業時間</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.employee.name }}</td>
                    <td>{{ log.date }}</td>
                    <td>{{ log.work_number }}</td>
                    <td>{{ log.work_trenum }}</td>
                    <td>{{ log.subject }}</td>
                    <td>{{ log.get_work_code_display }}</td>
                    <td>{{ log.work_hours }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div><br>
    {% endfor %} -->
</div>
<script>
    const tabs = document.querySelectorAll('.tab');
    const tabContents = document.querySelectorAll('.tab_content');
    tabs.forEach((tab, index) => {
        tab.addEventListener('click', () => {
            tabs.forEach(tab => tab.classList.remove('active'));
            tabContents.forEach(tabContent => tabContent.classList.remove('active'));
            tab.classList.add('active');
            tabContents[index].classList.add('active');
        });
    });
</script>
<script>
    const date = new Date();
    const days = date.getDay();

    const dateLinks = document.querySelectorAll('.wlog_bt');
    const dateInput = document.getElementById('selected_date');
    dateInput.value = days;
    dateLinks.forEach(link =>{
        link.addEventListener('change',()=>{
            const selected_Date = link.getAttribute('data-date');

            const datePattern = /^(\d{4})年\s*(\d{1,2})月\s*(\d{1,2})日$/;
            const match = selected_Date.match(datePattern);
            if(match){
                const year = match[1];
                const month = match[2].padStart(2,'0');//2桁に０埋め
                const day = match[3].padStart(2,'0');//2桁0埋め
                //Formated date
                const formatedDate = `${year}-${month}-${day}`;
                //show result
                dateInput.value = formatedDate;
            };
        });
    });
</script>
{% endblock %}