{% extends 'base.html' %}

{% block title %}作業指示票削除{% endblock %}

{% block content %}
    <h1 class="titles">作業指示票削除</h1>
    <p>以下の作業指示票を削除してもよろしいですか？</p>
    <table border="1">
        <tr>
            <th>作業指示票番号</th>
            <td>{{ work_order.work_order_number }}</td>
        </tr>
        <tr>
            <th>工番</th>
            <td>{{ work_order.work_number }}</td>
        </tr>
        <tr>
            <th>件名</th>
            <td>{{ work_order.subject }}</td>
        </tr>
    </table>
    <form method="post">
        {% csrf_token %}
        <button type="submit">削除する</button>
        <a href="{% url 'sagyoshiji:work_order_list' %}">キャンセル</a>
    </form>
{% endblock %}
