{% extends 'base.html' %}

{% block title %}作業指示票修正{% endblock %}

{% block content %}
    <h1  class="titles">作業指示票修正: {{ work_order.work_order_number }}</h1>
    <form method="post">
        {% csrf_token %}
        <h2 style="border: 2px solid black; padding: 10px;text-align: center;">作業指示票情報</h2>
        {{ form.as_p }}
        <h2 style="border: 2px solid black; padding: 10px;text-align: center;">作業進捗データ</h2>
        {{ formset.management_form }}
        <table>
            <thead>
                <tr>
                    <th>作業日</th>
                    <th>出来高（％）</th>
                    <th>当日実績</th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr>
                    <td>{{ form.work_date }}</td>
                    <td>{{ form.achievement }}</td>
                    <td>{{ form.daily_result }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">修正を保存</button>
    </form>
    <a href="{% url 'sagyoshiji:work_order_list' %}">作業指示票一覧に戻る</a>
{% endblock %}
